<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>contact us</title>
<style>
    body{
    
}
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
</style>
</head> 
<body>
    <h1> BMI CALCULATOR </h1>
    <form action="http://localhost:3000/process-contacts" method="POST"> 
        Weight:
        <input type="text" name="weight"/> <br>
        Height:
        <input type="text" name="height"/> <br>
        <input type="submit" value="Submit"/>
    </form>
</body>

</html>
